<div class="col-md-12">
  <div class="group">
    <span class="pull-right">
      <% if current_user && current_user.is_member_of?(@group) %>
        <label class="label label-success"> 群组成员 </label>
        <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-default") %>
      <% else %>
        <label class="label label-warning"> 不是群组成员 </label>
        <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>

    <%= link_to("Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right")%>

    <% if current_user && current_user == @group.owner %>
      <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2>群組名稱：<%= @group.title %></h2>
  <p>群組摘要：<%= @group.description %></p>
</div>

<%= render "groups/posts_list/once_published", group: @group, posts: @once_published_posts %>
<%= render "groups/posts_list/author_verifying", group: @group, posts: @author_verifying_posts if @author_verifying_posts.present? %>
<%= render "groups/posts_list/author_verifying", group: @group, posts: @owner_verifying_posts if current_user == @group.owner %>
